# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.vscode/
ENV/
.env
.venv
.python-version

# Flask
instance/
.webassets-cache

# node.js
node_modules/

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# merge files
lifelog_all_*.md